*{
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
}
form{
    justify-content: space-between
    
}
form h1, h2 {
    color: blue;

}
.container{
    background-color: aqua;


}
input, button{
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}
button{
    background-color: blue;
    color: darkslategray;
    border-style: double;
}
  
